<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.forsta.librelay"
          android:versionCode="100"
          android:versionName="1.0.0">

    <uses-sdk tools:overrideLibrary="com.amulyakhare.textdrawable,com.astuetz.pagerslidingtabstrip,pl.tajchert.waitingdots,com.h6ah4i.android.multiselectlistpreferencecompat"/>
    <permission
        android:name="io.forsta.librelay.ACCESS_SECRETS"
        android:label="Access to TextSecure Secrets"
        android:protectionLevel="signature"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.portrait"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="io.forsta.librelay.ACCESS_SECRETS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.WRITE_PROFILE"/>
    <uses-permission
        android:name="android.permission.BROADCAST_WAP_PUSH"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- For sending location tiles in the future -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- So we can add a TextSecure 'Account' -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <!-- For conversation 'shortcuts' on the desktop -->
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>

    <!-- For sending/receiving events -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <!-- Set image as wallpaper -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />


    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup">
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false"/>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip"/>
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip"/>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip"/>
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0hDDyBcplwkYtn-2j_1rx-aOu9d-J1o0"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="io.forsta.librelay.media.TextSecureGlideModule"
            android:value="GlideModule"/>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
                   android:resource="@drawable/ic_forsta_notification_black" />

        <service android:name="io.forsta.librelay.service.GenericForegroundService"/>
        <service android:enabled="true" android:name="io.forsta.librelay.service.WebRtcCallService"/>
        <service
            android:name="io.forsta.librelay.service.RegistrationService"
            android:enabled="true"/>
        <service
            android:name="io.forsta.librelay.service.MessageRetrievalService"
            android:enabled="true"/>
        <service
            android:name="io.forsta.librelay.service.AccountAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name="io.forsta.librelay.atlas.AtlasSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/forstasyncadapter"/>
        </service>

        <service android:name="io.forsta.librelay.gcm.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="io.forsta.librelay.gcm.FcmJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:targetApi="26" />

        <provider
            android:name="io.forsta.librelay.providers.PartProvider"
            android:authorities="@string/forsta_authorities"
            android:exported="false"
            android:grantUriPermissions="true"/>
        <provider
            android:name="io.forsta.librelay.providers.DatabaseProvider"
            android:authorities="@string/forsta_database_provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="Forsta Empty Database Provider"/>

        <provider
            android:name="io.forsta.librelay.atlas.AtlasProvider"
            android:authorities="@string/forsta_authorities"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="Atlas Contacts"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/forsta_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths">
            </meta-data>
        </provider>
        <activity android:name=".WebRtcCallActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|fontScale"
            android:launchMode="singleTask"/>
        <activity
            android:name=".LogSubmitActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__log_submit"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".DummyActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay"/>
    </application>
</manifest>
