<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
         <receiver
            android:name="io.forsta.relay.receivers.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.forsta.librelay.REGISTRATION_EVENT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.forsta.relay.receivers.FirebaseReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.forsta.librelay.FCM_EVENT"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="io.forsta.relay.receivers.NotificationReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.forsta.librelay.notifications.REPLY_EVENT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>